
<header>
    <div class="header-logo">
        <a href="/index"><img src="~/static/main/images/logo.png" alt="LINCOLN" /></a>
    </div>
    <div class="header-right">
        <em class="header-title">林肯中国顾客体验活动数据统计系统<span>THE DATA STATISTICS SYSTEM OF THE LINCOLN CUSTOMER EXPERIENCE ACTIVITY</span></em>
        <div class="header-login">
            <!--未登陆时用户名隐藏-->
            <span class="header-username" style="display: none;">Amos_xu，欢迎登录</span>
            @if (LeaRun.Utilities.ManageProvider.Provider.IsOverdue("LoginModel"))
            {
                <a href="/index/LoginOut" class="header-login-btn">[ 退出 ]</a>
            }
         
        </div>
    </div>
</header>

<nav>
    <ul class="nav-list">
        <li>
            <a href="/index" class="@(Request.Url.AbsolutePath.Split('/')[1]=="index" ? "nav-title active" : "nav-title")" >活动场次统计</a>
            <div class="nav-link">
                <span class="@(Request.Url.AbsolutePath == "/index" || Request.Url.AbsolutePath == "/index/index" ? "active" : "")"><a href="/index">活动场次汇总</a></span>
                <span><a href="javascript:;">全国经销商活动场次统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/averagecost" ? "active" : "")"><a href="/index/averagecost">活动场次及成本统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/averagepassengerflow" ? "active" : "")"><a href="/index/averagepassengerflow">活动场均客流统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/averageorder" ? "active" : "")"><a href="/index/averageorder">活动平均订单数量统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/averagelatentpassengerflow" ? "active" : "")"><a href="/index/averagelatentpassengerflow">活动平均潜客统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/publishwaystatistics" ? "active" : "")"><a href="/index/publishwaystatistics">活动后续宣传发布统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/averagepassengerflowchange" ? "active" : "")"><a href="/index/averagepassengerflowchange">单潜客成本及潜客转化率统计</a></span>
                <span class="@(Request.Url.AbsolutePath=="/index/averageordercost" ? "active" : "")"><a href="/index/averageordercost">订单潜客成本及潜客转化率</a></span>
            </div>
        </li>
        <li>
            <a href="/club"  class="@(Request.Url.AbsolutePath.Split('/')[1]=="club" ? "nav-title active" : "nav-title")" >全国经销商车主俱乐部概况统计</a>            
        </li>
        <li>
            <a href="/clubinfo" class="@(Request.Url.AbsolutePath.Split('/')[1]=="clubinfo" ? "nav-title active" : "nav-title")">俱乐部活动信息数据统计</a>
            <div class="nav-link">
                <span class="@(Request.Url.AbsolutePath == "/clubinfo"||Request.Url.AbsolutePath=="/clubinfo/index"?"active":"")"><a href="/clubinfo">车主俱乐部活动场次</a></span>
                <span class="@(Request.Url.AbsolutePath.Contains("/clubinfo/clubaveragecost")?"active":"")"><a href="/clubinfo/clubaveragecost">车主俱乐部活动场均成本</a></span>
            </div>
        </li>
    </ul>
</nav>